<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MES_APP_P80.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="MES_APP_Q10.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MES_APP_P80.Properties.Settings>
            <setting name="MES_APP_Q10_wsPP4G653FL_PP4G653FL" serializeAs="String">
                <value>http://125.135.140.21/CKOET00053_Default/Services/PP/PP4G653FL.asmx</value>
            </setting>
            <setting name="MES_APP_Q10_wsPP4G409FL_PP4G409FL" serializeAs="String">
                <value>http://125.135.140.21/CKOET00053_Default/Services/PP/PP4G409FL.asmx</value>
            </setting>
            <setting name="MES_APP_Q10_wsPP4G702FL_PP4G702FL" serializeAs="String">
                <value>http://125.135.140.21/CKOET00053_Default/Services/PP/PP4G702FL.asmx</value>
            </setting>
            <setting name="MES_APP_Q10_wsPP4G452FL_PP4G452FL" serializeAs="String">
                <value>http://125.135.140.21/CKOET00053_Default/Services/PP/PP4G452FL.asmx</value>
            </setting>
            <setting name="MES_APP_Q10_wsPQIG280FL_PQIG280FL" serializeAs="String">
                <value>http://125.135.140.14/CKOET00053_Default/Services/QM/PQIG280FL.asmx</value>
            </setting>
            <setting name="MES_APP_Q10_wsPQIG310FL_PQIG310FL" serializeAs="String">
                <value>http://125.135.140.14/CKOET00053_Default/Services/QM/PQIG310FL.asmx</value>
            </setting>
            <setting name="MES_APP_P80_wsPP4G303FL_PP4G303FL" serializeAs="String">
                <value>http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G303FL.asmx</value>
            </setting>
            <setting name="MES_APP_P80_wsPP4G702FL_PP4G702FL" serializeAs="String">
                <value>http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G702FL.asmx</value>
            </setting>
            <setting name="MES_APP_P80_wsPP4G653FL_PP4G653FL" serializeAs="String">
                <value>http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G653FL.asmx</value>
            </setting>
            <setting name="MES_APP_P80_wsPP4G409FL_PP4G409FL" serializeAs="String">
                <value>http://125.135.140.14/CKOET00053_Default/Services/PP/PP4G409FL.asmx</value>
            </setting>
            <setting name="MES_APP_P80_wsPP4G452FL_PP4G452FL" serializeAs="String">
                <value>http://125.135.140.21/CKOET00053_Default/Services/PP/PP4G452FL.asmx</value>
            </setting>
        </MES_APP_P80.Properties.Settings>
        <MES_APP_Q10.Properties.Settings>
            <setting name="MES_APP_Q10_wsPP4G653FL_PP4G653FL" serializeAs="String">
                <value>http://125.135.140.21/CKOET00053_Default/Services/PP/PP4G653FL.asmx</value>
            </setting>
            <setting name="MES_APP_Q10_wsPP4G409FL_PP4G409FL" serializeAs="String">
                <value>http://125.135.140.21/CKOET00053_Default/Services/PP/PP4G409FL.asmx</value>
            </setting>
            <setting name="MES_APP_Q10_wsPP4G702FL_PP4G702FL" serializeAs="String">
                <value>http://125.135.140.21/CKOET00053_Default/Services/PP/PP4G702FL.asmx</value>
            </setting>
            <setting name="MES_APP_Q10_wsPP4G452FL_PP4G452FL" serializeAs="String">
                <value>http://125.135.140.21/CKOET00053_Default/Services/PP/PP4G452FL.asmx</value>
            </setting>
            <setting name="MES_APP_Q10_wsPQIG280FL_PQIG280FL" serializeAs="String">
                <value>http://125.135.140.21/CKOET00053_Default/Services/QM/PQIG280FL.asmx</value>
            </setting>
            <setting name="MES_APP_Q10_wsPQIG310FL_PQIG310FL" serializeAs="String">
                <value>http://125.135.140.21/CKOET00053_Default/Services/QM/PQIG310FL.asmx</value>
            </setting>
        </MES_APP_Q10.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
